    <script src="https://cdn.jsdelivr.net/jquery/3.0.0-beta1/jquery.min.js"></script>
    
    <meta property="fb:app_id"      content="209562929402404">
    <meta property="og:site_name"   content="plotti.co">
    <meta property="og:url"         content="http://plotti.co">
    <meta property="og:title"       content="Plottico - the simplest way to plot live data">
    <meta property="og:description" content="Embed live plots just like images to visualize your data in real-time">
    
    
    <meta property="og:type"        content="website">
    <meta property="og:image"       content="https://plotti.co/plottico.png">
    <meta property="og:image:width"       content="240">
    <meta property="og:image:height"       content="190">
    
    <meta name="twitter:account_id" content="712612372800790528" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator"        content="@plottico">
    <meta name="twitter:site"           content="@plottico">
    <meta name="twitter:domain"         content="plotti.co">
    <meta name="twitter:title" content="Plottico - the simplest way to plot live data" />
    <meta name="twitter:description" content="Embed live plots just like images to visualize your data in real-time" />
    <meta name="twitter:image" content="https://plotti.co/plottico.png" />
    
    <style>
    .twitter-tweet-button {
        display: inline-block;
    }
    
    .shares {
        display: inline-block;
        height: 26px;
        overflow: hidden;
    }
    </style>